body {
  border: 5px solid rgb(37, 241, 229)
}

.banner {
  background-image: url('images/checkItOutBanner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 300px;
  width: inherit;
}

a {
  position: absolute;
  margin-left: 3%;
  padding-top: 125px;
  font-family: 'Damion', cursive;
  color: rgb(37, 241, 229);
  text-decoration: none;
  font-size: 24pt;
  letter-spacing: 0.4;
  text-shadow: -1px 1px rgb(6, 117, 221);
  z-index: 2;
}

a:hover {
  text-shadow: -1px 1px rgb(18, 240, 240);
  color: rgb(6, 117, 221);
}

.randomLink {
  z-index: 1;
}

.viewer {
  border-top: 20px solid rgb(37, 241, 229);
  text-align: center;
  font-family: 'Damion', cursive;
  color: rgb(37, 241, 229);
  text-shadow: 1px 1px rgb(6, 117, 221);
  font-size: 24pt;
  background-color: black;
}

.viewer {
  margin: 0;
  padding-top: 0;
}
